<div class="container">
  <div class="row">
    <div class="col-sm-12 mb-5">
      <h2 class="mt-5 mb-4 text-center"> Search Github Users </h2> 
      <form>
        <input type="text" class="form-control" placeholder="Search Github User" 
        name="userName"
        [(ngModel)]="userName"
        (keyup)="getUsers()">
      </form>
    </div>
  </div>
  <!-- ========================= -->
  <div *ngIf="users">
    <div class="row">
      <div class="col-sm-8">
        <ul class="list-group mb-4">
          <li class="list-group-item">
            <strong>Username: </strong>{{ users.login }}
          </li>
          <li class="list-group-item">
            <strong>Location: </strong>{{ users.location }}
          </li>
          <li class="list-group-item">
            <strong>Bio: </strong>{{ users.bio }}
          </li>
          <li class="list-group-item">
            <strong>Member Since: </strong>{{ users.created_at | date:'mediumDate' }}
          </li>
          <li class="list-group-item">
            <strong>Blog: </strong><a href="{{ users.blog }}" target="_blank">{{ users.blog }}</a>
          </li>
          <li class="list-group-item">
            <strong>Followers:</strong>
            {{ users.followers }}
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <img src="{{ users.avatar_url }}" alt="{{ users.name }}" class="img-fluid">
        <a href="{{ users.html_url }}" target="_blank" class="btn btn-outline-primary mt-3 mb-2">Go to Github Profile</a>
        <a target="_blank" class="btn btn-outline-primary" (click)="getRepos()">View Repos</a>
      </div>
    </div>   

<!-- ======================= -->

    <div *ngIf="repos" class="mt-8">
      <strong class="mt-5"> 
        <h4>Repos Of {{ users.name | capitalize}}</h4>
      </strong>
      <div *ngFor="let repo of repos" class="mb-4 mt-1">
        <ul class="list-group">
          <li class="list-group-item">
              <strong> Title: </strong>
               <a href="{{ repo.html_url }}" target="_blank">{{  repo.name | uppercase}}</a>
          </li>
          <li class="list-group-item">
            <strong>Description:</strong>
              {{ repo.description }}
          </li>
          <li class="list-group-item">
              <strong>Last updated:</strong> {{ repo.updated_at | date }}
          </li>
          <li class="list-group-item">
            <strong>Stars:</strong>
            {{ repo.stargazers_count }} 
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>