/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Poppins', sans-serif;
}
.container{
  width: 50%
}
a.navitem {
  font-size: 160%;
  margin-top: 15px;
  margin-bottom: 11px;
}
.container-nav{
  margin-top: 30px;
}
